body {
  overscroll-behavior: none;
}

.mw-body  {
  margin-left: 0 !important;
  width: 75ch;
  min-width: 75ch;
  flex: 1;

  overflow-y: scroll;
  overflow-x: clip;

  border: 0 !important;

  padding-left: 0px !important;
  padding-top: 10px !important;
}

#right-navigation {
  margin-top: unset !important;
  margin-left: auto;
  background: white;
}

#right-navigation form {
  margin: unset !important;
}

.navbox {
  overflow: scroll;
}

#boost-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;

  background-color: white;
}

#boost-subcontainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: calc(100vh - 60px);
  overflow: hidden;

  overflow-x: scroll;
}

.page_parent {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 15px 3px rgb(0 0 0 / 10%);  
  background-color: white;
  border: 1px solid #a7d7f9;
  border-top: 0px
}

#boost-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: white;
  padding: 0.5em;
  padding-left: 48px;

  border-bottom: 1px solid #a2a9b1;
  margin-bottom: 1px;
}

#boost-headertext {
  text-decoration: none !important;
  border-bottom: 0px;
  margin-bottom: 0px !important;
}

#boost-subcontainer > .page_parent:first-of-type {
  border-left: 0px;
}

.name_strip {
  text-orientation:sideways;
  writing-mode: vertical-lr;
  padding: 12px;
  padding-top: 40px;
}

.page_parent {
  display: flex;
  flex-direction: row;
}
