body {
  --bg-opacity: 0.5;
  --gradient: var(--lesbianpride);
  --transpride: linear-gradient(60deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 60%, rgba(245,169,184,var(--bg-opacity)) 80%, rgba(91,206,250,var(--bg-opacity)) 100%);
  --lesbianpride: linear-gradient(60deg, rgba(255,255,255,0) 0%,  44.44%, rgba(163,2,98,var(--bg-opacity)) 64%, rgba(181,86,144,var(--bg-opacity)) 70%, rgba(209,98,164,var(--bg-opacity)) 76%, rgba(255,255,255,var(--bg-opacity)) 82%, rgba(255,154,86,var(--bg-opacity)) 88%, rgba(239,118,39,var(--bg-opacity)) 94%, rgba(213,45,0,var(--bg-opacity)) 100%);
}

#searchform > :first-child {
  background: var(--gradient);
}

#searchform {
  margin-top: 0;
}


/* Mobile version */

header {
  background: var(--gradient) !important;
}

header > div > a {
  background-color: transparent !important;
}

header > div > div {
  background-color: transparent !important;
  background: none !important;
}

#msd > div {
  background: none !important;
}